
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41,100;
@dark-gray: #282a2e,100;
@very-dark-gray: #1d1f21,100;
//@background-color-from-onedark-lucario: #19242f;
@background-color-from-onedark-lucario: #283b4e;//#2C3E50;//#34495E;//#141c25;
//light base 16 background color #ecf0f1;// //#ECF0F1
@cyan: #8abeb7;//3498db
@blue: saturate(#38afff,100);//#37a7f2;//#3498db;//81a2be;
@purple: #be70df;  //#ac62cb;//#b294bb;
@green: #1cbf61;//#2ecc71;//b5bd68;
@red: #ff503e;//saturate(#e74c3c,5);//, 1);//#cc6666;
@orange: lighten(#ef7a13,3);//#ce6a10; //#e27614;//#e07e26;//#e67e21;//#de935f;
@yellow: #e8c137;


@light-orange: #ff7800;//#f0c674;
/*

from flat theme?

@background:      #2b3e50;
@current_line:    #243443;
@selection:       #19242f;
@foreground:      #f8f8f2;
@comment:         #5c98cd;
@string:          #e6db74;
@border:          #f8f8f0;
@green:           #199c4b;
@yellow:          #f0cc04;
@orange:          #e94b35;
@invisible:       #666;
@number:          #ca94ff;
@instance:        #ffab28;
@storage:         #66d9ef;
@soft-green:      #72cc5a;
@entity:          #ff6541;
@function:        #8be0fd;
@constant:        #6be5fd;
*/

/*

@base00: #ECF0F1;
@base01: #34495E;
@base02: #f5f5f5;
@base03: #95A5A6;
@base04: #BDC3C7;
@base05: #e0e0e0;
@base06: #7F8C8D;
@base07: #2C3E50;
@base08: #E74C3C;
@base09: #E67E22;
@base0A: #F1C40F;
@base0B: #2ECC71;
@base0C: #1ABC9C;
@base0D: #3498DB;
@base0E: #9B59B6;
@base0F: #be643c;



.CodeMirror {
// Gotta have that sweet sweet line spacing
    line-height: 1.2;
}
.CodeMirror-scroll {
    // Background color of main window
    background-color: @base00;
    // Color of otherwise un-styled text
    color: @base06;
}
.CodeMirror-gutters {
    // Gutter to the left
    background-color: @base00;
}
.CodeMirror-linenumber {
    // Line numbers in the gutter
    color: @base03;
}
.CodeMirror-selected {
    // Highlighed text
    background-color: @base02;
}
.CodeMirror-cursor {
    // The cursor
    border-left: 1px solid @base06;
}
.CodeMirror-matchingbracket,
.CodeMirror-matchingtag {
    // When you click a tag/bracket and the matching one is highlighted
    background: @base02 !important;
    color: @base06 !important;
    border-bottom: 1px solid @base08 !important;
}
.CodeMirror-foldgutter-open:after {
    // Those little arrows in the gutter
    color: @base03;
}
.CodeMirror-foldgutter-folded:after {
    // The arrows after you collapse code
    color: @base04;
}
.CodeMirror.over-gutter,
.CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
        // Arrows when hovering on the gutter
        color: @base06;
    }
}
.CodeMirror-foldmarker {
    // The [...] marking collapsed code
    border-color: @base06;
    background-color: @base06;
    color: @base02;
}
.CodeMirror-searching {
    // Ctrl + F results
    background-color: @base0A;
    // Selected result
    &.searching-current-match {
        background-color: @base09;
    }
}

// Non-editor Styling

#image-holder,
#not-editor {
    background-color: @base00;
}
#image-holder {
    color: @base04;
}
.view-pane .image-view {
    color: @base06;
}

// All 'dem swatches

.cm-atom,
.cm-string,
.cm-string-2,
.cm-hr,
{
    color: @base0B;
}
.cm-number,
.cm-attribute,
.cm-plus {
    color: @base0A;
}
.cm-def,
.cm-property {
    color: @base0C;
}
.cm-variable,
.cm-variable-2,
.cm-variable-3 {
    color: @base0E;
}
.cm-operator,
.cm-meta,
.cm-bracket {
    color: @base06;
}
.cm-comment {
    color: @base03;
}
.cm-error,
.cm-minus {
    color: @base09;
}
.cm-header {
    color: @base0E;
}
.cm-link {
    color: @base0E;
    text-decoration: none;
}
.cm-rangeinfo {
    color: @base0C;
}
.cm-keyword,
.cm-qualifier,
.cm-builtin,
.cm-tag,
.cm-quote {
    color: @base08;
}

// Active Line Highlight support
.CodeMirror-activeline-background {
    background-color: @base02;
}
.CodeMirror-activeline .CodeMirror-linenumber {
    background-color: @base01;
}
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: @base01;
}



*/
